<div class="modal fade" id="{% block deleteModalDialogId %}{% endblock %}" tabindex="-1" aria-labelledby="{% block deleteModalDialogLabel %}{% endblock %}Label"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">{% block deleteModalDialogTitle %}{% endblock %}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {% block deleteModalDialogBody %}{% endblock %}
            </div>
            <div class="modal-footer">
                <input class="btn btn-primary" data-bs-dismiss="modal" type="submit" value="Отмена">
                {% block deleteModalDialogButton %}{% endblock %}
            </div>
        </div>
    </div>
</div>