{% extends "base.twig" %}

{% block body %}
    <div class="d-flex flex-column justify-content-center align-items-center position-absolute top-50 start-50 translate-middle">
        <div class="row">
            <h1 class="col">Добро пожаловать, {{ name }}</h1>
        </div>
        <div class="d-grid gap-2 d-block">
            <a class="btn btn-primary" href="/messages/history">История сообщений</a>
            <a class="btn btn-primary" href="/messages">Отправка сообщений</a>
        </div>
    </div>
{% endblock %}