{% extends "base.twig" %}

{% block body %}
    <h1>Сервис отправки сообщений</h1>

    <form action="/messages" method="post">
        {% if validationErrors is not empty %}
            <div style="color: red">При отправке произошла ошибка
                <ul>
                    {% for validationError in validationErrors %}
                        <li>
                            {{ validationError }}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        <div>
            <p><label>Введите сообщение:</label></p>
            <textarea rows="4" cols="50" name="message">{% if validationErrors is not empty %}{{ message }}{% endif %}</textarea>
            <br>
            <br>
            <input type="submit" value="Отправить">
        </div>
    </form>
    {% if sendError is empty and validationErrors is empty %}
        <div>
            <p style="color: green">Сообщение успешно отправлено</p>
            <p><label>Отправленное сообщение:</label></p>
            <p>{{ message }}</p>
        </div>
    {% elseif sendError and validationErrors is empty %}
        <div>
            <p><label>При отправке произошла следующая ошибка:</label></p>
            <p>{{ sendError }}</p>
        </div>
    {% endif %}
{% endblock %}